.all_content {
  width: 100%;
  position: relative;
  top: 2vw;

  display: grid;
  grid-template-areas: 'content submit_application';
  grid-template-columns: 60vw;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    'properties sale_roof'
    'properties and_installation'
    'properties buttons'
    'properties answer ';
    grid-template-columns: 15vw 45vw;
    grid-template-rows: 14.5vw 4vw 6.5vw;
    gap: 1vw;
  }

  .properties {
    grid-area: properties;
  
    width: 9vw;
    padding: 3.5vw 2vw 0 2vw;
    line-height: 1.2vw;
  
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;

    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    background-color: white;
    border-radius: 2vw;
  }
  
  .sale_roof {
    width: 38vw;
    position: relative;
    top: 1vw;
  
    grid-area: sale_roof;
    font-size: 3vw;
    z-index: 4;
  }
  
  .and_installation {
    width: 25vw;
    height: 7vh;
    
    grid-area: and_installation;
    font-size: 2.2vw;
  }
  
  .circles {
    width: 3.5vw;
  }
  
  .buttons {
    grid-area: buttons;
  
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
  
    display: flex;
    gap: 1vw;
  }
  
  .green_button {
    width: 22vw;
    height: 6vw;
  
    background-image: url(../../assets/green_button.svg);
    background-size: 100% 100%;
  }
  
  .green_button:hover {
    background-image: url(../../assets/green_button_hover.svg);
  
  }
  
  .green_button_text {
    width: 70%;
    position: relative;
    top: 35%;
    transform: translate(10%, -50%);
  }
  
  .orange_button {
    width: 20vw;
    height: 6vw;
  
    background-image: url(../../assets/orange_button.svg);
    background-size: 100% 100%;
  }
  
  .orange_button_text {
    width: 60%;
    position: relative;
    top: 35%;
    transform: translate(20%, -50%);
  }
  
  .orange_button:hover {
    background-image: url(../../assets/orange_button_hover.svg);
  }
  
  .answer_questions {
    grid-area: answer;
    width: 20vw;;
    display: flex;
  }
  
  .cursor {
    width: 2vw;
    height: 2vh;
  
    position: relative;
    top: 0;
  }
  
  .answer {
    width: 14vw;
    height: 10vh;
    line-height: 1.3vw;
  }
  
  @media (max-width: 768px) {
    .menu {
      width: 300px;
      /* padding: 0 100px 0 100px; */
      position: absolute;
      top: 0;
      left: 0;

      background-color: #F5F5F5;
      border-radius: 30px;
    }

    .menu_icon {
      width: 20px;
      height: 20px;

      position: absolute;
      top: -85px;
      right: 15px;

      background-image: url(../../assets/menu.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .esc_icon {
      width: 20px;
      height: 20px;

      position: absolute;
      top: -85px;
      right: 15px;

      background-image: url(../../assets/esc.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .hidden {
      display: none;
    }

    .all_content {
      width: 276px;
      height: 580px;
      position: relative;
      top: 10px;
      left: 50%;
      transform: translate(-50%);
      grid-area: other;

    
      display: grid;
      grid-template-columns: 60vw;

    }

    .content {
      width: 276px;
      height: 100%;
      /*position: relative;
      top: 10px;
      left: 50%;
      transform: translate(-50%);
    
      grid-area: other; */
      grid-template-areas: 
      'sale_roof'
      'and_installation'
      'answer'
      'buttons'
      'one_property'
      'properties';
      grid-template-rows: 85px 20px 60px 180px;
      gap: 10px;
      background-color: brown;
    }

    .sale_roof {
      width: 276px;
      top: 0;
    
      font-size: 18px;
      line-height: 30px;
    }

    .and_installation {
      width: 278px;
      font-size: 13px;
    }

    .circles {
      width: 40px;
    }

    .answer_questions {
      width: 278px;;
      display: grid;
    }
    
    .cursor {
      width: 278px;
    
      position: relative;
      top: 0;
    }
    
    .answer {
      display: none;
    }

    .mini_answer {
      width: 278px;
      height: 36px;
      font-size: 8px;
      line-height: 12px;
    }

    .buttons {
      width: 278px;
      height: 140px;
      display: grid;
      font-size: 10px;
      line-height: 15px;
    }

    .green_button {
      width: 278px;
      height: 60px;
      background-image: url(../../assets/mini_green_button.svg);
    }
    
    .green_button_text {
      width: 150px;
      top: 0;
      transform: translate(30%, 20%);
    }
    
    .orange_button {
      width: 278px;
      height: 60px;
      background-image: url(../../assets/mini_orange_button.svg);
    }
    
    .orange_button_text {
      width: 130px;
      top: 0;
      transform: translate(45%, 20%);
      
    }
    
    .orange_button:hover {
      background-image: url(../../assets/orange_button_hover.svg);
    }
  
    .properties {
      width: 260px;
      height: 550px;
      /* padding: 10px 30px 10px 10px; */

      position: relative;
      left: 0;
      transform: translate(0, -75%);
      /* bottom: 20px; */

      /* margin-left: 50px; */
      /* margin-right: 50px; */
      /* left: 50%; */
      /* transform: translate(30%); */

      grid-area: properties;
      grid-template-areas: 
      'first_property remove'
      'second_property remove'
      'third_property remove'
      'fourth_property remove'
      'fifth_property remove';
      grid-template-columns: 150px 100px;
      line-height: 15px;
      font-size: 10px;
      text-align: left;

      background: none;
      background-color: white;
      z-index: 1;

      /* grid-template-areas: 
      'one_property'; */
    }

    

    .properties_top {
      
    }


    .one_property {
      grid-area: one_property;
      width: 200px;
      height: 250px;

      position: relative;
      bottom: 0;
      left: 35px;

      display: grid;
      grid-template-areas: 
      'one_property_text button'
      'small_text small_text';
      
      text-align: left;
      clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
      background-color: white;
      border-radius: 20px;
    }

    .one_property_text {
      width: 110px;
      height: 0px;

      position: relative;
      top: 25px;
      left: 30px;

      grid-area: one_property_text;
      font-size: 12px;
      line-height: 17px;
      background-color: burlywood;
    }

    .small_text {
      width: 130px;
      height: 10px;

      position: relative;
      top: -55px;
      left: 30px;

      grid-area: small_text;
      font-size: 7px;
      color: #c5c5c5;
      line-height: 9px;
    }

    .add {
      width: 33px;
      height: 33px;

      position: relative;
      top: 30px;
      left: 15px;

      grid-area: button;
      background-image: url(../../assets/add.svg);
    }

    .remove {
      width: 33px;
      height: 33px;

      position: relative;
      top: 30px;
      left: 15px;

      grid-area: button;
      background-image: url(../../assets/remove.svg);
    }

    /* .first_property {
      grid-area: first_property;
      display: none;
    }

    .second_property {
      display: none;
    }
    .third_property {
      display: none;
    }
    .fourth_property {
      display: none;
    }
    .fifth_property {
      display: none;
    } */

    .header_menu {
      width: 150px;
      height: 270px;

      position: relative;
      top: -10px;
      left: 50%;
      transform: translate(-50%);

      font-size: 12px;
      text-transform: uppercase;

      grid-area: other;
      display: grid;
      gap: 15px;
    }

    .height {
      height: 15px;
    }

    .contacts_menu {
      width: 250px;
      height: 250px;

      position: relative;
      left: 50%;
      transform: translate(-50%);

      font-size: 10px;
      line-height: 20px;
    }

    .house {
      width: 25px;
      height: 25px;

      position: relative;
      left: 50%;
      transform: translate(-50%);
    }

    .roof {
      height: 60px;
      margin-bottom: 10px;
    }

    .download_catalog {
      width: 230px;
      height: 50px;
    
      position: relative;
      left: 50%;
      transform: translate(-50%);
      margin-bottom: 15px;
    
      display: flex;
    }
    
    .catalog {
      height: 20px;
  
      position: relative;
      top: 10px;
      left: 15px;

      font-size: 15px;
      border-bottom: 0.1vw dotted #12C868;
    }
    
    .round_background {
      width: 50px;
      height: 50px;
      background-color: white;
      border-radius: 50vw;
    }
    
    .color_green {
      height: 15px;
      position: relative;
      top: 30%;
      transform: translate(0, -50%);

      text-align: center;
      font-size: 15px;
      color: #12C868;
    }

    .answer_online {
      width: 180px;
      height: 80px;
    
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    
    .messengers {
      width: 50px;
      height: 50px;
      padding: 5px;
    }
    
}

  @media (min-width: 768px) {
    .mini_answer {
      display: none;
    }

    .button {
      display: none;
    }

    .content_menu {
      display: none;
    }

    .one_property {
      display: none;
    }

    .one_property_text {
      display: none;
    }

    .small_text {
      display: none;
    }

    .add {
      display: none;
    }

    .remove {
      display: none;
    }

    /* .menu {
      display: none;
    } */
}
  