.submit_application_background {
  width: 27vw;
  height: 34vw;

  /* position: relative; */
  /* right: 0; */
  /* padding: 2vw; */

  grid-area: submit_application;

  background-color: #F5F5F5;
  border: rgba(28, 28, 28, 7%) 0.1vw solid;
  border-radius: 2vw;
}

.close {
  position: relative;
  top: 2vw;
  left: 11vw;
}

.close img {
  width: 1vw;
}

.submit_application {
  width: 17vw;
  height: 30vw;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 6vw 4vw 2vw 2vw 5vw 5vw;
}

.bold_text {
  width: 17vw;
  font-size: 1.8vw;
}

.enter_number_text {
  width: 17vw;
  font-size: 0.9vw;
}

.schedule {
  width: 17vw;
}

.submit_application input {
  width: 17vw;
  height: 4vw;
  border-radius: 3vw;
  border: none;
  text-align: center;
  color: #c5c5c5;
}

.submit_application input::placeholder {
  color: #c5c5c5;
}

.call_me_button {
  width: 17vw;
  height: 4vw;
  background-image: url(../../assets/call_me_button.svg);
  background-size: 100% 100%;
}

.call_me_button_text {
  position: relative;
  top: 35%;
  right: 10%;
  transform: translate(0, -50%);
  color: white;
  font-size: 1vw;
}

.enter_number {
  width: 10vw;
}

.checkbox {
  width: 19vw;
  height: 2.5vw;
  display: grid;
  grid-template-areas: 
  'checkbox text'
  'checkbox color_orange';
  grid-template-columns: 2vw;
  grid-template-rows: 1.2vw;
  text-align: left;
}

.checkbox_on {
  background-image: url(../../assets/checkbox_on.svg);
  background-size: 100% 100%;
  cursor: pointer;
}

.checkbox_off {
  background-image: url(../../assets/checkbox_off.svg);
  background-size: 100% 100%;
  cursor: pointer;
}

/* .checkbox input {
  width: 1vw;
  height: 1vw;
  grid-area: checkbox;
} */

/* .checkbox img {
  width: 1.1vw;
  height: 1.1vw;
  grid-area: checkbox;
  position: absolute;
  transform: translate(0.3vw, 0.2vw);
} */

.checkbox_text {
  width: 16vw;
  height: 0.8vw;
  grid-area: text;
  font-size: 0.7vw;
}

.color_orange {
  grid-area: color_orange;
  color: #F38120;
  height: 0.8vw;
}

@media (max-width: 768px) {
  .submit_application_background {
    display: none;
  }
}