.app {
  font-size: 0.8vw;
  /* font-stretch: ultra-expanded; */
  text-align: center;

  cursor: default;
  overflow: hidden;

  background-color: #F5F5F5;
  background-image: url(assets/background.png);
  background-size: 90vw 100vh;
  background-position: right top;
  background-repeat: no-repeat;
}

.menu {
  width: 85vw;
  height: 85vw;

  position: relative;
  left: 50%;
  transform: translate(-50%);
}

@font-face {
  font-family: "Montserrat"; 
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 