.app {
  height: 100vh;
  font-size: 0.8vw;
  /* font-stretch: ultra-expanded; */
  text-align: center;

  cursor: default;
  overflow: hidden;

  background-color: #F5F5F5;
  background-image: url(assets/background.png);
  background-size: 90vw 90vh;
  background-position: right bottom;
  background-repeat: no-repeat;

  user-select: none;
}

.menu {
  width: 85vw;
  height: 85vw;

  position: relative;
  left: 50%;
  transform: translate(-50%);
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
}

@media (max-width: 768px) {
  .app {
    background-size: 150vw 40vh;
    font-size: 7px;
    display: grid;
    grid-template-areas: 
    'contacts'
    'other';
  }
  .menu {
    width: 100vw;
    height: 100vw;
  }
}

@font-face {
  font-family: "Montserrat"; 
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 