.contacts {
    height: 15.5vh;
    position: relative;
    top: 1vw;
    display: grid;
    grid-template-columns: 19vw 13vw 22vw 16vw 17vw;
  }
  
  .roof {
    width: 13vw;
    height: 10vh;
  
    position: relative;
    top: 40%;
    transform: translate(0, -50%);
  }
  
  .download_catalog {
    height: 5.5vh;
  
    position: relative;
    top: 40%;
    transform: translate(0, -50%);
  
    display: flex;
    gap: 1vw;
  }
  
  .catalog {
    width: 9.5vw;
    height: 1.5vw;

    position: relative;
    top: 40%;
    transform: translate(0, -50%);

    border-bottom: 0.1vw dotted #12C868;
  }
  
  .round_background {
    width: 3vw;
    height: 3vw;
    background-color: white;
    border-radius: 50vw;
  }
  
  .color_green {
    position: relative;
    top: 1vw;
    text-align: center;
    color: #12C868;
  }
  
  .logo {
    background-image: url(../../assets/logo_background.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .logo img {
    padding: 1.5vw;
    width: 10vw;
  }
  
  li {
    list-style-type: none;
  }
  
  li::before {
    content: "\2022";
    color: #12C868;
  }
  
  .answer_online {
    width: 15vw;
    height: 7vh;
  
    position: relative;
    top: 40%;
    transform: translate(0, -50%);
  }
  
  .messengers {
    width: 2.5vw;
    height: 2.5svw;
    padding: 0.2vw;
  }
  
  .schedule {
    height: 7vh;
    position: relative;
    top: 40%;
    transform: translate(0, -50%);
    /* text-decoration: none; */
  }
  
  .telephone_number {
    font-size: 1.8vw;
    font-weight: bold;
  }
  
  .call_me {
    width: 6vw;

    position: relative;
    top: 0.5vw;
    left: 50%;
    transform: translate(-50%);

    text-align: center;
    color: #12C868;
    border-bottom: 0.1vw dotted #12C868;
  }

  @media (max-width: 768px) {
    .contacts {
      width: 320px;
      height: 95px;
      grid-area: contacts;
      position: relative;
      top: 0;
      display: flex;
      gap: 30px;
    }
    
    .roof {
      display: none;
    }
    
    .download_catalog {
      display: none;

    }
    
    .logo {
      width: 80px;
    }

    .logo img {
      padding: 20px;
      width: 51.46px;
      height: 21.35px;
    }
    
    .answer_online {
      display: none;
    }
    
    .schedule {
      width: 150px;
      height: 50px;
      position: relative;
      top: 40%;
      transform: translate(0, -50%);
    }
    
    .telephone_number {
      font-size: 14px;
    }
    
    .call_me {
      width: 73px;

      font-size: 10px;
    }

    /* .menu_icon {
      width: 20px;
      height: 20px;

      position: relative;
      top: 30px;
      right: 10px;
    } */
}

  @media (min-width: 768px) {
    .menu {
      display: none;
    }

    .circle {
      display: none;
    }
}
  